#main-dashboard {
  width: 75%;
}

#task-detail {
  margin-top:20px;
  width: 75%;
}

#todo-list {
  margin-right: 100px;
  margin-top: 30px;
  margin-left: 10px;
}

#save-button {
  margin-top:20px;
}