<mat-toolbar color="primary">
  <span>To-do</span>
</mat-toolbar>

<div id="todo-list">
  <app-todo-list
    (deleteItem)="deleteItem($event)"
    (setFeatured)="setFeaturedItem($event)"
    [todoList]="todoList">
  </app-todo-list>
</div>

<div id="main-dashboard">
  <app-main-dashboard
    (submitNewTask)="submitNewTask($event)">
  </app-main-dashboard>
</div>

<div id="task-detail">
  <app-task-detail
    [featuredItem]="featuredItem">
  </app-task-detail>
</div>

<button mat-button id="save-button" (click)="saveChanges()">save changes</button>
